@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Baloo+2:wght@400..800&family=Baloo+Da+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

p {
  margin: 0;
}
/* buttons */
.btn {
  display: inline-block;
  padding: 0.1rem 0.8rem;
  border-radius: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.btn-primary {
  background: #fff;
  color: #1F1F39;
  border: 1px solid rgb(229 231 235 / var(--tw-border-opacity, 1));
}
.btn-secondary {
  background: #1F1F39;
  color: #fff;
}

input{
  border-radius: 1.5rem !important;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
